page-sponsors {
    img.sponsor {
        display: block;
        margin-left: auto;
        margin-right: auto }
    h3.sponsor {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center }
    p.sponsor {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center }
}
