<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!selectedItem">
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item, time, extdesc)">
      {{item.title}}<br>
      <font color="gray">{{item.time}}</font><br>
      {{item.desc}}
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    <b>{{selectedItem.title}}</b><br>
    <font color="gray">{{selectedItem.time}}</font><br>
    {{selectedItem.extdesc}}
  </div>
</ion-content>
