page-istmap {
    img.map {
        display: block;
        margin-left: auto;
        margin-right: auto }
    h3.plzcenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center }
    p.plzcenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center }
}
